@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.aboutMe {
    top: 53rem;
}

.aboutMeRow {
    margin-top: 20rem;
}
.aboutMeSection {
    display: flex;
    justify-content: center;
    position: relative;
}

.aboutMeTitle {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.aboutMeTitle::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -27px;
    background: #ED213A; 
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 
    height: 3px;
    width: 21rem;
}

.textAboutMe::first-letter {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bolder;
    font-size: 30px;
}

.textAboutMe::selection {
    background-color: rgb(78, 120, 243);
    color: white;
}

.textAboutMe {
    min-width: 300px;
    max-width: 500px;
    text-shadow: 10px 4px 11px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
}

.resumeBtn {
    position: absolute;
    top: 18rem;
    width: 17rem;
    min-width: 10rem;
    font-size: 21px;
    z-index: 4;
    font-family: 'Concert One', cursive;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #e3eaec;
    padding: .3rem 4rem;
    filter: drop-shadow(15px 21px 16px black);
    color: rgb(7, 7, 7);
    transition: transform .3s ease-in;
}

.resumeBtn:hover {
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A);
    color: white;
    transform: translateY(4px);
}

.resumeIcon {
    height: 30px;
    margin-left: 8px;
}

.aboutMePicture {
    width: 50%;
    height: 50%;
    min-width: 43%;
    min-height: 429px;
    transform: rotate(11deg);
    filter: drop-shadow(41px 46px 21px rgba(0,0,0,0.8));
    transform: rotate3d(1, 1, 1, 45deg);
    border-radius: 5px;
    position: relative;
    animation:spin 3s linear infinite;
}

@keyframes spin { 50% { transform:rotate(360deg) } }

/* Media Queries */

@media screen and (max-width:1200px) {
    .textAboutMe {
        left: 36px;
    }
    .aboutMePicture {
        width: 55%;
    }
}


@media screen and (min-width:848px) and (max-width:991px) {
    .aboutMe {
        top: 70rem;
    }
    .aboutMePicture {
        position: relative;
        filter: none;
        transform: none;
        bottom: 22rem;
        box-shadow: 21px 28px 21px;
    }
    .textAboutMe {
        top: 22rem;
        left: 0rem;
        font-size: 17px;
        line-height: 25px;
    }
    .resumeBtn {
        top: 37rem;
    }
}

/* Added this for animation would stop once screen got smaller than 990px */
@media screen and (max-width: 991px) {
    .aboutMePicture {
        animation: none;
    }
}

@media screen and (max-width:847px) {
    .aboutMe {
        top: 93rem;
    }
    .aboutMePicture {
        position: relative;
        filter: none;
        transform: none;
        bottom: 22rem;
        box-shadow: 21px 28px 21px;
    }
    .textAboutMe {
        top: 22rem;
        left: 0rem;
        font-size: 17px;
        line-height: 25px;
    }
    .resumeBtn {
        top: 37rem;
    }
    
    
    
}

@media screen and  (min-width: 577px) and (max-width:665px) {
    .aboutMe {
      top: 86rem;
    }
}

@media screen and (min-width:540px) and  (max-width:576px) {
    .aboutMe {
      top: 139rem;
    }
    .aboutMePicture {
        min-width: 315px;
        bottom: 26rem;
    }
    .textAboutMe {
        top: 16rem;
    }
    .resumeBtn {
        top: 31rem;
    }
}

@media screen and (max-width:539px) {
    .aboutMe {
        top: 139rem;
      }
      .aboutMePicture {
        min-width: 315px;
        bottom: 26rem;
    }
    .textAboutMe {
        top: 19rem;
    }
    .resumeBtn {
        top: 35rem;
    }
}

/*  Mobile Styling */
@media screen and (max-width:499px) {
    .aboutMe {
        top: 127rem;
    }
    .aboutMePicture {
      bottom: 32rem;
      box-shadow: 12px 13px 20px black;
      filter: none;
    }
    .textAboutMe {
        top: 15rem;   
    }
    .resumeBtn {
        top: 34rem;
    }
}

