@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.projects {
    min-height: 100vh;
    top: 20rem;
    flex-wrap: wrap;
}

.projectTitle {
    display: flex;
    justify-content: center;
    position: relative;
    top: 14rem;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.projectTitle::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -27px;
    background: #499ce0; 
    background: -webkit-linear-gradient(to right, #499ce0, #1883db);  
    background: linear-gradient(to right, #499ce0, #1883db);
    height: 3px;
    width: 21rem;
}

.pTag {
    position: absolute; 
    display: block;
    width: 98%;
    font-size: 22px;
    top: 25rem;  
    font-family: 'Poppins', sans-serif;
    text-shadow: 3px 4px 10px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
    font-weight: bold;

}

.projectContainer {
    position: absolute;
    top: 30rem;
    transform: translate(-10px, 10px);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.projectContainers {
    list-style: none;
    display: inline-block;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.5);
    
}

.projectContainers:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.anchor {
    position: relative;
    display: flex;
    justify-content: center;
    transition: all 0.7s ease;
    
}

.anchor:hover {
    transform: translateY(-10px);
}

.applicationTitle{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    top: 4rem;
    color: white;
    font-weight: bolder;
    font-size: 27px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: underline; 
    cursor: default;
    filter: drop-shadow(2px 4px 6px black);
    text-transform: uppercase;
}

.learnMoreBtn {
    display: none;
    position: absolute;
    z-index: 1;
    top: 11rem;
    min-width: 125px;
    max-width: 302px;
    padding: 2px 32px;
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: #499ce0;  
    /* background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A); */
    color: white; 
    box-shadow: 7px 9px 16px rgba(0, 0, 0, 0.8);
    border-radius: 8px;    
}



.projectImage {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.4), 14px 15px 18px rgba(0, 0, 0, 0.4);
    transition: transform 0.4s ease;
    cursor: default;
}

.projectImage:hover {
    filter: grayscale(0%);    
}
.anchor:hover > .learnMoreBtn, .learnMoreBtn:hover {
    display: block;

}

.anchor:hover > .applicationTitle, .applicationTitle:hover {
    color: white;

}









/* MEDIA QUERIES */


@media screen and (max-width:1920px) {
    body {
      overflow-x: hidden;
    }
}

@media screen and (max-width:665px) {
    .projects {
      top: 15rem;
    }
}