@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.projects {
    min-height: 100vh;
    margin-bottom: 38rem;
    /* background: rgb(236,236,238);
background: linear-gradient(145deg, rgba(236,236,238,1) 0%, rgba(47,46,46,1) 50%, rgba(47,46,46,1) 52%, rgba(236,236,238,1) 100%); */

}

.projectTitle {
    display: flex;
    justify-content: center;
    position: relative;
    top: 14rem;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.projectTitle::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -27px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 3px;
    width: 21rem;
}

.pTag {
 position: absolute; 
 display: block;
 width: 98%;
 font-size: 22px;
 top: 25rem;  
 font-family: 'Poppins', sans-serif;
}

.projectContainer {
    position: absolute;
    top: 30rem;
    width: 100%;
    transform: translate(-10px, 10px);
    text-align: center;

}

.projectContainers {
    list-style: none;
    display: inline-block;
    -webkit-filter: brightness(0.4);
    filter: brightness(0.4);
    
}

.projectContainers:hover {
    -webkit-filter: brightness(1);
    filter: brightness(1);
}

.anchor {
    position: relative;
    display: inline-block;
    transition: all 0.7s ease;
    
}

.anchor:hover {
    transform: translateY(-10px);
}

.applicationTitle{
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 1;
    top: 4rem;
    /* color: #ED213A;  
    color: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    color: linear-gradient(to right, #93291E, #ED213A);  */
    /* color: #e82222; */
    color: white;
    font-weight: bolder;
    font-size: 27px;
    font-family: 'Fjalla One', sans-serif;
    text-decoration: underline; 
    cursor: default;
    filter: drop-shadow(2px 4px 6px black);
    text-transform: uppercase;
}

.learnMoreBtn {
    display: none;
    position: absolute;
    z-index: 1;
    left: 60px;
    top: 11rem;
    min-width: 125px;
    max-width: 302px;
    padding: 2px 32px;
    border: none;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: #ED213A;  
    background: -webkit-linear-gradient(to right, #93291E, #ED213A); 
    background: linear-gradient(to right, #93291E, #ED213A);
    color: rgb(255, 255, 255); 
    box-shadow: 7px 9px 16px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}



.projectImage {
    position: relative;
    width: 15rem;
    height: 15rem;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 10px 14px 20px rgba(0, 0, 0, 0.7), 14px 15px 18px rgba(0, 0, 0, 0.7);
    /* filter: brightness(0.4); */
    transition: transform 0.4s ease;
    cursor: default;
}

.projectImage:hover {
    filter: grayscale(0%);    
    /* transform: translate(0px, -10px); */
}










/* MEDIA QUERIES */


@media screen and (max-width:1920px) {
    body {
      overflow-x: hidden;
    }
}