@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.modal-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 7;
    transition: .7s ease-in-out;
}
.modal-background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 60%;
    box-shadow: 12px 22px 8px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    padding: 7px 10px;
    border-radius: 5px;

}

.modalHeader {
    display: flex;
    justify-content: center;
    color: black;
    min-height: 8vh;
    text-decoration: underline;
}
.closeIcon {
    position: absolute;
    top: 0;
    right: 16px;
}
.closeBtn {
    font-size: 30px;
    cursor: pointer;
}
.closeBtn:hover {
    color: red;
}

.modalContent {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    min-width: 370px;
}