@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.modal-wrapper {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 7;
    transition: .7s ease-in-out;
}
.modal-background {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-box {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 97%;
    padding: 20px;
    box-shadow: 12px 22px 8px rgba(0, 0, 0, 0.8);
    overflow-y: auto;
    padding: 7px 10px;
    border-radius: 5px;
}

.modalHeader {
    display: flex;
    justify-content: center;
    color: black;
    min-height: 8vh;
    text-shadow: 10px 7px 13px;
}

.description {
    color: #ED213A;
    text-decoration: underline;
    text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.7);
    margin: 20px 0px;
}

.ModalPicture {
    box-shadow: 9px 14px 8px rgb(0,0,0,0.6) ,-8px -6px 8px rgb(0,0,0,0.6);
    padding: 20px;

}
.closeIcon {
    position: absolute;
    top: 0;
    right: 16px;
}
.closeBtn {
    font-size: 34px;
    cursor: pointer;
    text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.8);
}
.closeBtn:hover {
    color: #ED213A;
    text-shadow: 3px 4px 4px rgba(243, 27, 27, 0.849)
  }

.modalContent {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    min-width: 370px;
    padding: 10px 10px;
}

.modalText {
    min-width: 300px;
    font-weight: 600;
    text-shadow: 10px 7px 13px;
    letter-spacing: 1px;
    line-height: 32px ;
    padding-bottom: 35px;
}

.usedLanguages {
    font-family: 'Poppins', sans-serif;
    color: #ED213A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-decoration: underline;
    top: 3rem;
    text-shadow: 10px 7px 13px rgb(84 60 60);

}

.languagesIcon {
    text-align: center;
    margin-top: 12px;
    color: black;
}

.modalFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 5rem;    
}

.linksTitle {
    font-family: 'Poppins', sans-serif;
    color: #ED213A;
    text-decoration: underline;
    text-shadow: 10px 7px 13px rgb(84 60 60);
    margin: 40px 0px;

}

.links {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    text-shadow: 10px 7px 11px rgba(0,0,0,0.6);
    padding-bottom: 10px;
}



.links::before 
 {
    content: " ";
    display: block;
    position: absolute;
    background: #ED213A; 
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    background: linear-gradient(to right, #93291E, #ED213A); 
    height: 3px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.5s;
    -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}
.links::before {
    top: 15px;
    transform-origin: left;
}
.links:hover:before
 {
    transform: scaleX(1);
}



/*  Media Queries */

@media screen and (min-width:866px) and (max-width:1537px) {
    .modal-box {
        height: 97%;
        width: 80%;
        padding: 20px;
    }
}

/* @media screen and (max-width:1100px) {
    .modalHeader {
        margin-top: 41px;
    }
} */


@media screen and (min-width:560px) and (max-width:865px) {
    .modal-box {
        width: 80%;
    }
}

@media screen and (min-width:500px) and (max-width:559px) {
    .modal-box {
        width: 81%;
        overflow-x: hidden;
    }
    .modalHeader {
        margin-top: 14px;
    }
}

@media screen and (max-width:480px) {
    .modal-box {
        width: 90%;
        padding: 20px 4px;
        /* height: auto; */
        overflow-y:auto;
    }
    .modalHeader {
        margin-top: 20px;
    }
    .description {
        margin-top: 12px;
    }
}
