a {
    color: black;
}

.Connect {
    min-height: 100vh;
    margin-top: 20rem;
}

.connectTitle {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

.connectTitle::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: -27px;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 3px;
    width: 21rem;
}

.connectRow{
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.connect-col {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}


.connectPicture {
    width: 50%;
    border-radius: 9px;
    box-shadow: -8px -10px 18px rgba(0, 0, 0, 0.8);
    transition: transform 1.7s ease;
    min-width: 400px;
    position: relative;
    -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

 .connectPicture:hover {
    /* transform: rotateX(160deg); */
    filter: blur(0px);
} 


.textConnectSection {
    min-width: 300px;
    max-width: 500px;
    text-shadow: 4px 4px 11px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    position: relative;
}

.textConnectSection::first-letter {
    font-family: 'Akaya Telivigala', cursive;
    font-weight: bolder;
    font-size: 30px;   
}

.textConnectSection::selection {
    background-color: rgb(78, 120, 243);
    color: white;   
}

.socialNetworkContainer {
   position: absolute;
   top: 11rem;
}

.liTagsForConnect {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.socialNetwork-Icon {
    list-style: none;
    width: 100px;
    height: 100px;
    filter: drop-shadow(-21px 13px 8px) ;
    transition: transform .3s ease-in-out;
    cursor: pointer;
}

.socialNetwork-Icon:hover {
    transform: translateY(-10px);
}

ul li {
    list-style: none;
}



/*  Media Queries */

@media screen and (max-width:990px) {
    .connectPicture {
        width: 43%;
        bottom: 13rem;
    -webkit-box-reflect: below 4px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.0));
    box-shadow: 24px 51px 18px rgb(0, 0, 0, 0.8);
    }
    .textConnectSection {
        bottom: 131px;
        color: black;
    }
    .socialNetworkContainer {
        top: 0rem;
        left: 32%;
    }
    .socialNetwork-Icon {
        filter: drop-shadow(10px 13px 8px);
    }
}

@media screen and (max-width:665px) {
    .connect {
      top: 16rem;
    }
    .socialNetworkContainer {
        left: 25%;
    }
}

/* @media screen and (max-width:556px) {
    .aboutMe {
      top: 55rem;
    }
} */

/* Mobile Styling */
@media screen and (max-width:499px) {
    .Connect {
     top: 78rem;
    }
    .connectPicture {
        min-width: 98%;
        box-shadow: 9px 14px 20px black;
    }
    .socialNetworkContainer {
        left: 12%;
        top: 3rem;
    }
    .textConnectSection {
        color: white;
    }
}