@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


section {
    /* background: rgb(248,248,248);
    background: linear-gradient(90deg, rgba(248,248,248,1) 0%, rgba(177,177,177,1) 42%, rgba(177,177,177,1) 72%, rgba(248,248,248,1) 100%); */
    min-height: 100vh;
    padding: 20px;
    position: relative;
    top: 7rem;
    z-index: 1;

}

.upArrow {
    position: fixed;
    z-index: 200;
    background-color: black;
    border-radius: 50%;
    padding: 5px 10px;
    right: 45px;
    bottom: 30px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition:  0.6s ease-in-out;
}

.upArrow.active {
    visibility: visible;
    opacity: 1;
}
.upArrow:hover {
    background-color: rgb(156, 154, 154);
}

.name{
    font-size: 3rem;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bolder;
    position: relative;
    background: #83b9e4; 
    background: -webkit-linear-gradient(to right, #83b9e4, #3390db);  
    background: linear-gradient(to right, #83b9e4, #3390db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}

.imgOfMe {
    height: 430px;
    width: 334px;
    min-height: 200px;
    min-width: 250px;
    border-radius: 50%;
    box-shadow: 20px 16px 25px rgba(0,0,0,0.3);
    position: relative;
}

.overLay {
    position: absolute;
    height: 430px;
    width: 337px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 0;
    transition: 545ms ease-in-out;
}

.yoda {
    position: absolute;
    top: 50px;
    left: 68px;
    height: 190px;
  
}
.groguQuotes {
    position: relative;
    top: 16em;
    max-width: 332px;
    min-width: 200px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    /* letter-spacing: 1px; */
}

.overLay:hover {
    opacity: 1;
}




.pictureAndName {
    position: relative;
    top: 5rem;
}

.introParagraph {
    position: relative;
    top: 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-shadow: 10px 11px 16px rgba(0,0,0,0.3);
}

.myTitleContainer {
    position: relative;
    top: 16rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
}

.myTitle {
    min-width: 350px;
    max-width: 606px;
    font-size: 2.3rem;
    text-shadow: 4px 12px 16px rgba(0,0,0,0.3);
}

.workTitle,
.Typewriter__wrapper {
    background: #499ce0; 
    background: -webkit-linear-gradient(to right, #499ce0, #1883db);  
    background: linear-gradient(to right, #499ce0, #1883db);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
    font-weight: bolder;
}

.Typewriter__cursor {
    color: black;
}

.workBtn {
    display: flex;
    position: relative;
    top: 61px;
    left: 9rem;
    padding: .3rem 4rem;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Concert One', cursive;
    min-width: 35%;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(15px 21px 16px rgba(0, 0, 0, 0.3));
    transition: transform 0.5s ease-in-out;
    background-color: #ffffff;
    width: fit-content;

   
}
.workBtn:hover {
    background: #499ce0; 
    background: -webkit-linear-gradient(to right, #499ce0, #1883db);  
    background: linear-gradient(to right, #499ce0, #1883db);
    color: white;
    transform: translateY(4px);
}

.arrowBtn {
    position: relative;
    left: 18px;
    transition: transform 0.5s ease;
}

.workBtn:hover > .arrowBtn, .arrowBtn:hover {
    transform: rotate(90deg); 
}




/* MEDIA QUERIES */

@media screen and (max-width:1034px) {
    .workBtn {
        left: 5rem;
        
    }
} 


@media screen and (max-width:991px) {
   
    .myTitle {
        position: relative;
        bottom: 137px;
    }
    .workBtn {
        display: none;
    }
    .myTitleContainer {
        display: flex;
        justify-content: center;
        align-items: center;
       flex-direction: column;
    }
    .projects {
        position: relative;
        top: 13rem;
    }
}

@media screen and (min-width:500px) and (max-width:665px) {
    body {
        overflow-x: hidden;
    }
    .overLay {
        top: 105px;
        height: 325px;
        width: 252px;
    }
    .yoda {
        top: 46px;
        height: 116px;
    }
    .groguQuotes {
        top: 11em;
        left: 23px;
        max-width: 200px;
    }
    .imgOfMe {
        height: 325px;
        width: 212px;
        position: relative;
        bottom: 58px;
    }
    .introParagraph {
        top: -30px;
        transform: translate(10px, 10px);
    }
    .introParagraph {
        top: -30px;
        transform: translate(10px, 10px);
    }
    .myTitle {
        font-size: 30px;
        position: relative;
        left: 80px;
        bottom: 145px;
        transform: translate(-78px, 2px);
        max-width: 350px;
    }
    .workBtn {
        position: absolute;
        top: 9rem;
        padding: .3rem 2rem;
        left: 12rem;
    }
}

/* Mobile Styling */
@media screen and (max-width:499px) {
    html, body {
       overflow-x: hidden;
    }
    .imgOfMe {
        height: auto;
    }
    .overLay {
        top: 116px;
        height: 345px;
        width: 249px;
    }
    .myTitle {
        bottom: 187px;
    }
   
} 

