@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

html body {
    height: 100%;
    min-height: 100%;
}

header {
    box-shadow: 2px 15px 20px;
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100%;
    background: rgb(188,188,189);
    background: linear-gradient(90deg, rgba(188,188,189,1) 0%, rgba(255,255,255,1) 30%, rgba(248,248,248,1) 73%, rgba(188,188,189,1) 85%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 85%;
    min-height: 10vh;
}

/* .whole-Nav-Bar {
    position: fixed;
    top: 0;
    right: -400px;
    width: 50%;
    background-color: lightcoral;
    z-index: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.hamburger-menu {
    position: fixed;
    z-index: 5;
    top: 20px;
    right: 48px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 4px;
    background-color: #7c7474;
}

.logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 35%;
    font-size: 1.5rem;
}

nav a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    letter-spacing: 2px;
}

nav a:hover  {
    color: #ED213A;
    color: -webkit-linear-gradient(to right, #93291E, #ED213A);  
    color: linear-gradient(to right, #93291E, #ED213A); 
}


/* MEDIA QUERIES */
@media screen and (min-width:761px) and (max-width:1920px) {
    .hamburger-menu {
        display: none;
    }
    .nav-links {
        transform: translateX(0%);
    }
   
}

/* WIDTH ON NAV UL FOR WHEN WINDOW GETS SMALLER THEY STAY APART BEFORE DISAPPEARING */
@media screen and (max-width:1500px) {
    nav ul {
        width: 43%;
    }
   
}
@media screen and (max-width:1100px) {
    nav ul {
        width: 57%;
    }
}
@media screen and (max-width:900px) {
    nav ul {
        width: 65%;
    }
}


/* Displaying hamburger menu and hidding li when screen gets smaller than 760pxs */
@media screen and (max-width:760px) {
    .hamburger-menu {
        display: flex;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 10vh;
        background: rgb(188,188,189);
        background: linear-gradient(90deg, rgba(188,188,189,1) 0%, rgba(255,255,255,1) 30%, rgba(248,248,248,1) 73%, rgba(188,188,189,1) 85%);
        z-index: 3;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 50%;
        border-radius: 10px 0 0 10px;
        transition: all 0.5s ease-in;
       

    }
    .nav-item {
       margin: 45px; 
       opacity: 1;
    }
    
    
}

